.containers1 {
  padding-top: 2%;
  padding-bottom: 2%;
  /* border-radius: 26px; */
}

.iconKirimedfor {
  width: 20px;
  height: auto;
}

.iconKananmedfor {
  width: 20px;
  height: auto;
}

.iniImage {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 26px;
}

.col4 {
  border-radius: 26px;
}
